azure/azure-credentials.txt
opentofu/aws/variables.tf
opentofu/aws/.terraform*
opentofu/aws/aws.tf
opentofu/aws/terraform*
azure/existing/.terraform*
azure/.terraform*
azure/azure.tf
azure/terraform*
azure/existing/terraform*
